<div class="container">
    <div class="carousel">
      <div class="carousel__face"><span>EXPERIENCE</span></div>
      <div class="carousel__face"><span>KERALA</span></div>
      <div class="carousel__face"><span>GOD'S </span></div>
      <div class="carousel__face"><span>OWN</span></div>
      <div class="carousel__face"><span>COUNTRY</span></div>
      <div class="carousel__face"><span>FEEL</span></div>
      <div class="carousel__face"><span>THE</span></div>
      <div class="carousel__face"><span>NATURE</span></div>
      <div class="carousel__face"><span>WITH US</span></div>
    </div>
  </div>
  <div class="container">


      <br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>

      <h2>ABOUT</h2>

      <br><br>
      <p>
      Kerala, a very prominent state in India, known as the “God’s Own Country” is a coastal state. The state is bordered by a number of beaches; covered by hills of Western Ghats and filled with backwaters. Kerala is situated in the south western region of India; Tamil Nadu, Karnataka and Andhra Pradesh are the neighbor states to Kerala. Trivandrum is the capital city of Kerala. Kerala is a tourist destination attracting people by its natural beauty. The other main centers of attraction in Kerala are the museum, boat houses and islands. Some of the famous tourist places in Kerala are Thekady, Alappae, Kumarakom, Wayanad, Kovalam and so on.
    </p>
  </div>
